<p id="notice"><%= notice %></p>

<h1>Tutores</h1>

<table>
  <thead>
    <tr>
      <th>Tutor</th>
      <th>Alumno</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tutors.each do |tutor| %>
      <tr>
        <td><%= tutor.prof %></td>
        <td><%= tutor.alum %></td>
        <td><%= link_to 'Mostrar', tutor %></td>
        <td><%= link_to 'Editar', edit_tutor_path(tutor) %></td>
        <td><%= link_to 'Eliminar', tutor, method: :delete, data: { confirm: '¿Estas seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Agregar tutor', new_tutor_path %>
