<p id="notice"><%= notice %></p>

<p>
  <strong>Alum:</strong>
  <%= @historial.alum %>
</p>

<p>
  <strong>Mat:</strong>
  <%= @historial.mat %>
</p>

<p>
  <strong>Calif 1:</strong>
  <%= @historial.calif_1 %>
</p>

<p>
  <strong>Calif 2:</strong>
  <%= @historial.calif_2 %>
</p>

<p>
  <strong>Calif 3:</strong>
  <%= @historial.calif_3 %>
</p>

<p>
  <strong>Final:</strong>
  <%= @historial.final %>
</p>

<p>
  <strong>Ext 1:</strong>
  <%= @historial.ext_1 %>
</p>

<p>
  <strong>Ext 2:</strong>
  <%= @historial.ext_2 %>
</p>

<p>
  <strong>Esp:</strong>
  <%= @historial.esp %>
</p>

<%= link_to 'Editar', edit_historial_path(@historial) %> |
<%= link_to 'Volver', historials_path %>
